//- preset form values if we receive a userdata object
- reply = typeof(data) != 'undefined' ? data : { }

if (reply.profile)
  .active_user_container
    .salutation Welcome
    #user_button
      if (reply.gravatar)
        .avatar_container
          img#buttonAvatar(src="http:" + reply.gravatar)
      .uname_container
        | #{reply.profile.name} #{reply.profile.surname}

