- profile = typeof(data) != 'undefined' ? data : { }

.row.expr_wrapper
    .span4
        h2 Hello #{profile.name}
        p
            | So you are here to draw squares and circles? Draw away!
        p
            | For a bit of help, note the following:
            ul
                li Ctr: Draw perfect squares or circles
                li Shift: Draw from the center point

