#removeAccount.container-440-left
    .detail-head
        .content Attach Air Vantage account
    form()#remove-account-form.form-horizontal.well
        p#sub1
            strong Gain access to your systems on Air Vantage.
        p We will not store your Air Vantage username and password.
            | You can discontinue this authorisation at any time.
        fieldset
            .form-actions
                .form-action-right
                    #connect_av.g-button-submit
                        i.icon-user
                        | Connect
            a.button(href="/auth/av") CONNECT