//
   Created by gumm on 2015/12/07.


.toolbox
  #circle_tool.tool-item(title='Draw Circles and Elipses')
    include ../../public/img/draw_circle.svg
  #rectangle_tool.tool-item(title='Draw Rectangles and Squares')
    include ../../public/img/draw_rect.svg

.toolbox
  #select_tool.tool-item(title='Select or un-select an element')
    i.material-icons.md-48 select_all
  #move_tool.tool-item(title='Move a selected element')
    i.material-icons.md-48 open_with
  #fill_tool.tool-item(title='Change the fill color')
    i.material-icons.md-48.svg-icon-fill format_color_fill
  #stroke_tool.tool-item(title='Change the stroke color')
    i.material-icons.md-48.svg-icon-outline border_color
  #delete_tool.tool-item(title='Delete a selected element')
    i.material-icons.md-48 clear
  #clear_tool.tool-item(title='Discard this drawing and start over')
    i.material-icons.md-48 clear_all

.toolbox
  #save_tool.tool-item(title='Save your drawing')
    i.material-icons.md-48 save
  #list_tool.tool-item(title='Open and close the right toolbox')
    i.material-icons.md-48 swap_horiz
.toolbox
  #remove_tool.tool-item(title='Delete a drawing')
    i.material-icons.md-48 delete
