//
   Created by gumm on 2015/12/07.


.toolbox
  #draw_circle.tool-item
    include ../../public/img/draw_circle.svg
  #draw_rect.tool-item
    include ../../public/img/draw_rect.svg

.toolbox
  #select_tool.tool-item
    i.material-icons.md-48 open_with
  #pic_tool.tool-item
    i.material-icons.md-48 select_all
  #fill_tool.tool-item
    i.material-icons.md-48.svg-icon-fill format_color_fill
  #border_fill.tool-item
    i.material-icons.md-48.svg-icon-outline border_color
  #delete_tool.tool-item
    i.material-icons.md-48 clear
  #clear_tool.tool-item
    i.material-icons.md-48 clear_all

.toolbox
  #save_tool.tool-item
    i.material-icons.md-48 save
  #list_tool.tool-item
    i.material-icons.md-48 swap_horiz
.toolbox
  #remove_tool.tool-item
    i.material-icons.md-48 delete
