//
   Created by gumm on 2015/12/07.

.toolbox
  #draw_circle.tool-item
    include ../../public/img/draw_circle.svg
  #draw_rect.tool-item
    include ../../public/img/draw_rect.svg
  #select_tool.tool-item
    i.material-icons.md-48 touch_app
