- pictures = typeof(picList) != 'undefined' ? picList : []


#color_selector_type Your Drawings
.toolbox
  if (pictures.length > 0)
    for pic in pictures
      div.pic-preview(id=pic._id, data-pic=pic.svg)
